* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: 'DOS';
  src: url('./assets/fonts/dos.ttf');
}

@font-face {
  font-family: 'Nokia';
  src: url('./assets/fonts/nokia.ttf');
}

@font-face {
  font-family: 'System';
  src: url('./assets/fonts/system.otf');
}

body {
  background-color: #000;
}

.bg-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  overflow-y: visible;
  background-image: url('./assets/site-bg.jpg');
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
}

.boy-computer, .screen {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@keyframes screenglow {
  0% { filter: drop-shadow(0px 0px 20px #fff); }
  50% { filter: drop-shadow(0px 0px 60px #fff); }
  100% { filter: drop-shadow(0px 0px 20px #fff); }
}

.screen {
  filter: drop-shadow(0px 0px 50px #fff);
  animation: screenglow 8s ease-in-out infinite;
}

.maintenance-text {
  font-family: 'Times New Roman';
  font-weight: 500;
  letter-spacing: 3px;
  color: #fff;
  font-size: 36px;
  top: 75%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fa-brands {
  font-size: 32px;
  text-decoration: none;
  color: #c2fac0;
  text-shadow: 3px 3px 0px #5b8a5b91;
  transition: top 0.2s ease 0s;
  top: 0;
  position: relative;
}

.fa-brands:hover {
  top: -5px;
}

.fa-brands:visited {
  text-decoration: none;
}

.home-page-content {
  position: relative;
}

.container {
  align-items: stretch!important;
  height: 100dvh;
  max-height: min(900px, 160vw);
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  padding: 10px;
  padding-top: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  flex-shrink: 0;
  width: auto;
  height: auto;
  max-height: 110px;
}

.main-photo-box {
  width: 90%;
}

.main-photo {
  width: 100%;
}

/* Computer Borders */

.computer-border {
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex: 1 1 0;
  min-height: 0;
}

:root {
  --computer-border-width: 60px;
}

.scanlines {
  --screen-width: calc(100% - (var(--computer-border-width) * 1.6));
  --screen-height: calc(100% - (var(--computer-border-width) / 0.4254724) - var(--computer-border-width) * 0.75);
  width: calc(100% - (var(--computer-border-width) * 1.6));
  height: calc(100% - (var(--computer-border-width) / 0.4254724) - var(--computer-border-width) * 0.75);
  top: calc(var(--computer-border-width) * 0.95);
  left: calc(var(--computer-border-width) * 0.8);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.8);
}

.links-bar {
  top: calc(var(--computer-border-width) / 8);
}

.computer-corner-top {
  background-image: url('./assets/computer-background/computer-corner-top.png');
  background-size: contain;
  width: var(--computer-border-width);
  aspect-ratio: 0.9226;
  background-repeat: no-repeat;
  margin: 0 -1px;
}

.computer-top {
  background-image: url('./assets/computer-background/computer-top.png');
  flex-grow: 1;
  background-size: 100% calc(var(--computer-border-width) / 0.9226);
  margin: 0 -1px;
}

.computer-side {
  background-image: url('./assets/computer-background/computer-side.png');
  width: var(--computer-border-width);
  min-height: 200px;
  background-size: var(--computer-border-width) 100%;
  margin: -1px;
}

.computer-corner-bottom {
  background-image: url('./assets/computer-background/computer-corner-bottom.png');
  background-size: contain;
  width: var(--computer-border-width);
  aspect-ratio: 0.4254724;
  background-repeat: no-repeat;
  margin: 0 -1px;
}

.computer-bottom {
  background-image: url('./assets/computer-background/computer-bottom.png');
  flex-grow: 1;
  background-size: 100% calc(var(--computer-border-width) / 0.4234724);
  margin: 0 -1px;
}

.computer-logo {
  background-image: url('./assets/computer-background/fr.png');
  width: calc(var(--computer-border-width) * 1.5);
  aspect-ratio: 3.59333;
  background-size: contain;
  position: absolute;
  left: calc(var(--computer-border-width) / 1.5);
  bottom: calc(var(--computer-border-width) / 3);
  background-repeat: no-repeat;
}

.computer-floppy-band {
  background-image: url('./assets/computer-background/floppy-band.png');
  flex-grow: 1;
  background-size: 100% calc(var(--computer-border-width) / 6);
}

.computer-floppy-drive {
  background-image: url('./assets/computer-background/floppy-drive.png');
  height: calc(var(--computer-border-width) / 6);
  aspect-ratio: 29.15;
  background-size: contain;
}

.computer-floppy-bar {
  display: flex;
  position: absolute;
  width: calc(100% - var(--computer-border-width) / 10);
  left: calc(var(--computer-border-width) / 20);
  top: calc(var(--computer-border-width) / 0.9);
}

.flipped {
  transform: scaleX(-1);
}

.middle-gap {
  justify-content: space-between;
  flex: 1 1 0;
  min-height: 0;
}

.computer-border-row {
  display: flex;
  position: relative;
  pointer-events: none;
  user-select: none;
}

.credits {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

/* Icons */
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 45vw;
  max-width: 300px;
  min-width: 150px;
  gap: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  flex: 0 0 20%;
  position: relative;
  padding-bottom: 20px;
}

.icon-image {
  width: 80%;
  cursor: pointer;
  position: relative;
  transition: top 0.2s ease 0s;
  top: 0;
}

.icon-image:hover {
  top: -5px;
}

.icon-caption {
  width: 70px;
  font-family: 'DOS';
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  text-shadow: 3px 2px 0px rgba(73, 73, 73, 0.48);
}

@keyframes icon {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

/* Window */
.window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px ridge;
  background-color:#fff;
  z-index: 4;
}

.window-enter {
  animation: openwindow 0.2s ease-out 1;
}

.window-exit {
  animation: closewindow 0.2s ease-in 1;
}

.window-enter-child {
  animation: openwindow-child 0.2s ease-out 1;
}

.window-exit-child {
  animation: closewindow-child 0.2s ease-in 1;
}

.window-header {
  display: flex;
  align-items: center;
  background-color: rgb(107, 107, 150);
  font-family: 'DOS';
  color: #fff;
  padding: 3px;
}

.window-body {
  height: calc(100% - 25px);
  position:relative;
}

.window-title {
  flex-grow: 1;
  padding: 0px 3px;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-wrap: nowrap;
  user-select: none;
}

.close-window-button {
  border: 2px outset;
  background-color: #ccc;
  color: #333;
  width: 18px;
  text-align: center;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
}

.main-window {
  width: calc(95vw - var(--computer-border-width) * 1.5);
  height: calc(100vh - var(--computer-border-width) * 4 - 110px);
  max-height: calc(min(900px, 160vw) - var(--computer-border-width) * 5.5);
}

.popup-window > .window-body{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: System;
  text-align: center;
  line-height: 1.4;
  gap: 10px;
  background-color: #d2d2d2;
}

@keyframes openwindow {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 80%;
    height: 60%;
  }
}

@keyframes closewindow {
  0% {
    width: 80%;
    height: 60%;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes openwindow-child {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 80%;
    height: 95%;
  }
}

@keyframes closewindow-child {
  0% {
    width: 80%;
    height: 95%;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

/* Scanlines */
.scanlines {
  z-index: -1;
  overflow: hidden;
  position: relative;
  background-image: url('./assets/background.png');
}
.scanlines:before,
.scanlines:after {
  display: block;
  content: "";
  position: absolute;
  pointer-events: none;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.2) 51%
  );
  background-size: 100% 3px;
  animation: scanlines 1.5s steps(60) infinite;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 60px rgba(0,0,0,0.6) inset;
  z-index: 1;
}

.sound-btn {
  position: absolute;
  right: 1.5vh;
  top: 1.5vh;
  cursor: pointer;
  width: 20px;
}

/* Music Page */

.music-buttons {
  display: flex;
  justify-content: center;
  border: 4px ridge;
  padding: 1%;
  width: 94%;
  margin-bottom: 2%;
  gap: 2%;
}

.music-button {
  flex: 0 0 9%;
  margin-bottom: -5px;
}

.music-button-icon {
  width: 100%;
}

.music-link {
  cursor: pointer;
}

.music-button-caption {
  font-family: System;
  font-size: 12px;
  text-align: center;
}

.music-logo {
  height: 25%;
  padding: 2%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-logo > img {
  height: 100%;
  max-height: 10vh;
}

.music-header {
  display: flex;
  padding: 1%;
  gap: 1.5%;
  border: 4px ridge;
  overflow-x: scroll;
  width: 94%;
  margin-bottom: 3%;
  min-height: 135px;
}

.album-cover {
  width: 80%;
  padding: 4%;
  min-width: 50px;
}

.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px ridge;
  flex: 0 0 22%;
  user-select: none;
  overflow-y: hidden;
  overflow-x:hidden;
  min-width: 70px;
}

.album-title {
  font-family: Nokia;
  font-size: 10px;
  text-align: center;
  flex-grow: 1;
  padding: 2px 5px;
}

.album-year {
  font-family: Nokia;
  font-size: 8px;
}

/* Shows Page */
.show-flyer-container {
  
}

.show-flyer {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border: 2px outset;
  margin: 5px;
  cursor: zoom-in;
}

.show-card {
  display: flex;
  border: 4px ridge;
}

.show-cards {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow-y: auto;
}

.show-details-gap {
  flex-grow: 1;
}

.show-details {
  padding: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.show-title {
  font-family: Nokia;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.show-date {
  color:#888;
  margin-left: 10px;;
}

.show-ticket-link {
  position:absolute;
  bottom: 5px;
  left: 5px;
  font-family: Nokia;
  display: flex;
  gap: 5px;
  align-items: start;
}


.show-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: Nokia;
  font-size: 14px;
  padding-bottom: 5px;
}


.show-subtitle {
  font-family: System;
  font-size: 14px;
}

.show-flyer-fullsize {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

/* Socials Page */
.socials-file-bar {
  font-family: Nokia;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
  border: 4px groove;
  border-left: none;
  border-right: none;
  background-color: #dfd9d9;
}

.socials-file-bar > span {
  width: 200px;
}

.online-img {
  height: 35%;
  padding-top: 5%;
  min-height: 0;
  flex-shrink: 1;
}

.no-shows-msg {
  font-family: System;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
}

.platform-buttons {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  padding: 4%;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
}

.platform-button-icon {
  width: 62px;
  margin-bottom: 10px;
}

.platform-button-caption {
  font-family: System;
  font-size: 14px;
  user-select: none;
  display: none;
}

.platform-button {
  cursor: pointer;
  width: 80px;
  margin-bottom: 5px;
}

/* Photos & Videos Page */
.photos-videos-container {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.photos-videos-row-icons {
  display: flex;
}

.photos-videos-row-title {
  font-family: Nokia;
  font-size: 12px;
  border-bottom: 1px dashed black;
  margin-top: 5px;
}

.video-icon {
  width: 90px;
  gap: 8px;
}

.video-icon-img {
  width: 60px;
  cursor: pointer;
}

.video-icon-caption {
  font-family: System;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.download-icon-link {
  position: absolute;
  right: 2%;
  width: 30px;
  top: 2%;
  cursor: pointer;
}

.high-res-tooltip {
  font-family: System;
  font-size: 16px;
  background-color: rgb(224, 194, 120);
  padding: 4px;
  padding-bottom: 2px;
  border: 2px solid rgb(210, 121, 21);
  position:absolute;
  right: 0;
}

.high-res-tooltip > a {
  display: block;
  text-wrap: nowrap;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  padding: 5px;
  text-align: right;
}

.high-res-tooltip > a:hover {
  color: #fff4b5;
}

.download-icon {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.photo-link {
  text-decoration: none;
  font-size: 18px;
  position: absolute;
  right: 3px;
  top: 0;
}

.photo-arrow-icon {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  user-select: none;
}

.photo-arrow-icon-left {
  transform: scaleX(-1);
  left: 2%;
}

.photo-arrow-icon-right {
  right: 2%;
}

/* Contact Page */
form {
  padding: 10px;
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.form-header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.form-input {
  flex-grow: 1;
}

.form-input > input, textarea {
  width: 100%;
  border: 2px inset;
  resize: none;
  padding: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 600;
}

textarea {
  flex-grow: 1;
}

input:focus, textarea:focus {
  outline: none;
}

.submit-row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.submit-btn {
  padding: 3px 30px;
  border-radius: 0;
  border: 3px outset;
  cursor: pointer;
  font-family: Nokia;
  background-color:#d1d1d1;
}

label {
  font-family: System;
  display: block;
  margin-bottom: 5px;
}

.booking-message {
  font-family: Nokia;
  font-size: 14px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking-email {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.booking-subtitle {
  font-size: 12px;
}

.textarea-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.error-msg {
  color: #cf2222;
  font-family: Nokia;
  padding: 0px 15px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  background-color: #c2c3c3;
  border-style: inset;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0px;
  border: 2px outset;
}

::-webkit-scrollbar-button:single-button {
  background-color: #ccc;
  border: 2px outset;
  width: 17px;
  height: 17px;
  background-image: url('./assets/scroll-arrow.png');
  background-position: center;
  background-size: contain;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url('./assets/scroll-arrow-r.png');
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url('./assets/scroll-arrow-l.png');
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('./assets/scroll-arrow-d.png');
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('./assets/scroll-arrow-u.png');
}


::-webkit-scrollbar:horizontal {
  height: 16px;
}

::-webkit-scrollbar:vertical {
  width: 16px;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
      transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanlines {
  0% {
      background-position: 0 50%;
  }
}
div {
  margin: 0;
  padding: 0;
}
div.scanlines {
  position: absolute;
}

.vertical-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-contents {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.window-contents-with-bar {
  height: calc(100% - 29px);
  position: relative;
  outline: none;
}

.tooltip {
  width: 300px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 0;
}

.tooltip > span {
  font-family: System;
  font-size: 16px;
  background-color: rgb(224, 194, 120);
  padding: 4px;
  padding-bottom: 2px;
  border: 2px solid rgb(210, 121, 21);
}

.center-x {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/* CONDITIONAL FORMATTING */
@media screen and (aspect-ratio > 0.8), (min-width: 810px) {
  .main-logo {
    max-width: 50vh;    
  }

  .computer-border {
    max-width: min(80vh, 800px);
  }

  .main-window {
    width: calc(min(80vh, 800px) - var(--computer-border-width) * 2);
  }

  @keyframes openwindow {
    0% {
      width: 0px;
      height: 0px;
    }

    100% {
      width: calc(min(80vh, 800px) - var(--computer-border-width) * 2);
    }
  }

  @keyframes closewindow {
    0% {
      width: calc(min(80vh, 800px) - var(--computer-border-width) * 2);
    }

    100% {
      width: 0px;
      height: 0px;
    }
  }
}

@media screen and (aspect-ratio < 0.6), (min-height: 900px) {

  .main-window {
    height: calc(min(900px, 160vw) - var(--computer-border-width) * 6);
  }

  @keyframes openwindow {
    0% {
      width: 0%;
      height: 0px;
    }

    100% {
      height: calc(min(900px, 160vw) - var(--computer-border-width) * 6);
    }
  }

  @keyframes closewindow {
    0% {
      height: calc(min(900px, 160vw) - var(--computer-border-width) * 6);
    }

    100% {
      width: 0%;
      height: 0px;
    }
  }
}

@media screen and (aspect-ratio <= 0.8) {
  .main-logo {
    max-width: 65vw;
  }
}

@media screen and (max-height: 600px), (max-width: 450px) {
  .icon-caption {
    width: 55px;
    font-size: 14px;
  }

  .icon-container {
    padding-bottom: 5px;
  }
  
  .sound-btn {
    top: 10px;
    right: 10px;
    width: 15px;
  }

  .show-card {
    flex-direction: column;
    align-items: stretch;
  }
  .show-flyer-container {
    display: flex;
    justify-content: center;
    background-color: #e1e0e0;
    max-height: 25vh;
  }
  .show-flyer {
    width: 60%;
    height: 100%;
    border: none;
    margin: 0;
  }
  .show-details-gap {
    min-height: 5px;
  }

  .platform-buttons {
    max-width: 350px;
    gap: 8%;
    flex: 1 0 40%;
    row-gap: 7%;
  }

  .platform-button {
    width: 60px;
    height: 65px;
  }
}

@media screen and (max-width: 450px), (max-height: 450px) {
  :root {
    --computer-border-width: 40px;
  }

  .main-window {
    height: calc(min(900px, 160vw) - var(--computer-border-width) * 6.5);
  }

  .platform-buttons {
    gap: 4%;
    row-gap: 4%;
    max-width: 300px;
  }

  .platform-button-caption {
    font-size: 10px;
  }

  .platform-button-icon {
    width: 30px;
  }

  @keyframes openwindow {
    0% {
      width: 0px;
      height: 0px;
    }

    100% {
      height: calc(min(900px, 160vw) - var(--computer-border-width) * 6.5);
    }
  }

  @keyframes closewindow {
    0% {
      height: calc(min(900px, 160vw) - var(--computer-border-width) * 6.5);
    }

    100% {
      width: 0px;
      height: 0px;
    }
  }
}

@media screen and (max-height: 600px) {
  .main-logo {
    z-index: 10;
    padding: 6px;
    background-color: 3px 3px rgba(0, 0, 0, 0.2);
  }
  .computer-border {
    position: absolute;
    max-width: 120vh;
    width: 120vh;
    height: 110vh;
    top: 12vh;
  }

  .icons {
    max-width: 225px;
  }

  .credits {
    z-index: 10;
    position: fixed;
    font-size: 8px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    color: #fff;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .main-window {
    width: calc(104vh - var(--computer-border-width));
    height: calc(104vh - (50vh / 2) - var(--computer-border-width) * 1.2);
  }

  .music-header {
    min-height: 135px;
  }

  @keyframes openwindow {
    0% {
      width: 0px;
      height: 0px;
    }

    100% {
      width: calc(104vh - var(--computer-border-width));
      height: calc(104vh - (50vh / 2) - var(--computer-border-width) * 1.5);
    }
  }

  @keyframes closewindow {
    0% {
      width: calc(104vh - var(--computer-border-width));
      height: calc(104vh - (50vh / 2) - var(--computer-border-width) * 1.5);
    }

    100% {
      width: 0px;
      height: 0px;
    }
  }
}

@media screen and (max-height: 710px), (max-width: 600px) {
  .album-title {
    font-size: 8px;
  }

  .album-year {
    font-size: 6px;
  }

  .show-title {
    font-size: 14px;
  }

  .show-subtitle {
    font-size: 12px;
  }

  .show-details-info {
    font-size: 11px;
  }

  .show-ticket-link {
    font-size: 12px;
    align-items: center;
  }

  .platform-button-icon {
    width: 40px;
    margin-bottom: 8px;
  }

  .platform-link {
    gap: 0;
  }

  .platform-button-caption {
    display: block;
  }

  .socials-file-bar {
    text-wrap: nowrap;
    font-size: 10px;
  }

  .socials-file-bar > span {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .video-icon {
    width: 60px;
  }

  .video-icon-img {
    width: 45px;
  }
  
  .video-icon-caption {
    font-size: 10px;
  }

  .booking-message {
    font-size: 12px;
  }

  .booking-email {
    font-size: 14px;
  }

  .booking-subtitle {
    font-size: 10px;
  }

  label {
    font-size: 12px;
  }

  .submit-btn {
    font-size: 12px;
  }

  .form-input > input, textarea {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .booking-message {
    font-size: 10px;
  }

  .booking-subtitle {
    font-size: 8px;
  }
}

@media screen and (min-height: 750px) and (min-width: 600px) {
  :root {
    --computer-border-width: 80px;
  }

  .show-card:nth-child(even) {
    background-color:#e8f8fe;
  }
}

.child-window {
  width: 80%;
  height: 95%;
  top: calc(45% + 15px);
}
